body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px; /* Prevents content from being covered by the footer */
    overflow-y: auto; /* Allows scrolling */
  }
  